.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5%;
      background: #162313;
      .logo {
        z-index: 999;
        a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
          @media (min-width:576px) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .footer-container{
    background: #162313;
    padding: 1.5rem 5%;
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }